.profile-ima{
    -fx-background-radius: 10;
}

.profile-details{
    -fx-background-position: centre;
    -fx-background-radius: 10;
    -fx-background-color: #dfdfdf;
}

.tech-main{
    -fx-background-color: #f1f1f1;
}

.btn{
    -fx-background-color: #0700ff;
    /*-fx-background-radius: 15;*/
    -fx-font-size: 20;
}

.btn:hover{
    -fx-background-color: #251fc8;
}

.btn:pressed{
    -fx-background-color: #b10404;
}

.rounded-image {
    -fx-background-radius: 200;
    -fx-border-radius: 100;
    -fx-background-color: #cc689e;
    /*-fx-background-image: url("img1.jpeg");*/
}